@model IEnumerable<MaiTrinhWeb.Models.InventoryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Thống kê</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumQuantity)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumQuantity)
        </td>
    </tr>
}

</table>
