@model MaiTrinhWeb.Data.ImportProduct

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có chắc xóa nhập sản phẩm chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default btn-danger" /> 
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
